wordpress/wp-admin/
wordpress/wp-content/languages/
wordpress/wp-content/plugins/
wordpress/wp-content/upgrades/
wordpress/wp-content/uploads/
wordpress/wp-content/index.php
wordpress/wp-includes/
wordpress/.htaccess
wordpress/index.php
wordpress/license.txt
wordpress/readme.html
wordpress/wp-*.php
wordpress/xmlrpc.php
*.log
# Ignore themes starting with twenty
wordpress/wp-content/themes/twenty*/
wordpress/wp-content/themes/index.php

